@use './base.scss';

.help{
    .help-text{
        background-color: base.$title-color;
        padding: 40px;
        h3{
            font-size: 30px;
            margin-bottom: 12px;
            font-family: base.$secondery-fonts;
            color: base.$white-color;
            font-weight: 400;
            margin-left: 50px;
        }
        p{
            font-size: 18px;
            padding: 20px 0;
            padding-right: 30px;
            margin-bottom: 60px;
            font-family: base.$primary-fonts;
            color: base.$white-color;
            font-weight: 400;
            margin-left: 50px;
        }
        a{
            font-size: 17px;
            padding: 15px 30px;
            font-family: base.$primary-fonts;
            color: base.$white-color;
            border: 2px solid base.$white-color;
            text-decoration: none;
            transition: all 0.5s;
            font-weight: 500;
            margin-left: 50px;

            &:hover{
                background-color: #316EC2;
                border: 2px solid #316EC2;
            }
        }
    }
    .w-5{
        padding: 0;
    }
    .oth{
        padding: 40px 0;
        border-bottom: 1px solid #D3D5E2;
        .other-img{
            margin-top: 20px;
            padding: 0;
        }
    }
    
}