@use './base.scss';

.service-2{
    width: 100%;
    background-color: #F3F8FF;
    .row-1{
        margin-bottom: 30px;
    }
   .text-1{
        span{
            font-size: 14px;
            font-family: base.$primary-fonts;
            letter-spacing: 3px;
            color: #316ec2;
            display: block;
            margin-bottom: 20px;
        }
        h2{
            font-size: 40px;
            font-family: base.$secondery-fonts;
            margin-bottom: 12px;
            color: base.$title-color;
            font-weight: 500;
        }
   }
   .text-2{
        p{
            font-size: 18px;
            font-family: base.$primary-fonts;
            margin-bottom: 12px;
            color: #4c526e;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 15px;
            display: flex;
            justify-content:end;
        }
    } 
    .service-2-text{
        h5{
            a{
                font-size: 24px;
                font-family: base.$secondery-fonts;
                color: base.$title-color;
                text-decoration: none;
                margin-top: 20px;
                margin-bottom: 12px;
                display: block;
                transition: all .5s;
                
                &:hover{
                    color: #316ec2;
                }
            }
            
        }
        p{
                font-size: 16px;
                font-family: base.$primary-fonts;
                color: #4c526e;
                font-weight: 400;
        }
    }   
}
